<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Letter</title>

    <!-- Bootstrap core CSS -->
    <link href='{{ url_for('static',filename='bootstrap.min.css')}}' rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href='{{ url_for('static',filename='cover.css')}}' rel="stylesheet">

  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Letter</h3>

            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">We will mis you. Come back soon.</h1>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Letter app - Ovidiu Moldovan <a href="https://twitter.com/Ovidiu5891">@Ovidiu5891</a></p>
            </div>
          </div>

        </div>

      </div>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src='{{ url_for('static',filename='bootstrap.min.js')}}'></script>
  </body>
</html>
