<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Letter</title>
    <!-- Bootstrap core CSS -->
    <link href='{{ url_for('static',filename='bootstrap.min.css')}}' rel="stylesheet">
    <link href='{{ url_for('static',filename='cover.css')}}' rel="stylesheet">
    <link href='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css' rel='stylesheet' />

  </head>

  <body>
    <div id='map'></div>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Letter</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li>
                      <img src={{ user.image.url }} alt="me">
                  </li>
                  <li><a class="name-link" id="name-text">{{ user.displayName or 'Mr. No Name' }}</a><span class="close"></span></li>
                  <li><a href="logout" class="name-link">Log Out</a><span class="close"></span></li>

                </ul>
              </nav>
            </div>
          </div>



          <div class="mastfoot">
            <div class="inner">
              <p>Letter app - Ovidiu Moldovan <a href="https://twitter.com/Ovidiu5891"><span class="tweetlink">@Ovidiu5891</span></a></p>
            </div>
          </div>

        </div>
      </div>


      <!-- Modal -->
      <div class="modal fade" id="writeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title text-primary" id="writeModalLabel">Write a Letter</h4>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label for="letter-title" class="control-label text-primary float-left">Title:</label>
                  <input type="text" class="form-control" id="letter-title">
                </div>
                <div class="form-group">
                  <label for="letter-text" class="control-label text-primary float-left">Text:</label>
                  <textarea class="form-control" id="letter-text"></textarea>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" id="send-story-button">Send</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js'></script>
    <script src='{{ url_for('static',filename='bootstrap.min.js')}}'></script>
    <script src='{{ url_for('static',filename='main.js')}}'></script>
  </body>
</html>
